/*Estilos para el área principal */
.home {
    padding: 50px 20px;
    text-align: center;
}

.home h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #555; /* Color de texto predeterminado */
}

.home p {
    font-size: 1.1rem;
    color: #555; /* Color de texto predeterminado */
    margin-bottom: 40px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.feature {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    background-color: #fff; /* Color de fondo predeterminado */
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.feature i {
    font-size: 2rem;
    margin-bottom: 10px;
    color: #007bff;
}

.feature h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature p {
    font-size: 1rem;
    color: #666; /* Color de texto predeterminado */
}

/* Estilos para modo oscuro */
body.dark-mode {
    background-color: #333;
    color: #ccc; /* Color de texto para modo oscuro */
}

body.dark-mode .feature {
    border-color: #444;
    background-color: #333;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

body.dark-mode .feature:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* Estilos para diseño de dos columnas */
.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.text-column {
    flex: 1;
    margin-right: 20px; /* Espacio entre las dos columnas */
}
