body {
    background-color: #eee;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

select,
input {
    margin-bottom: 10px;
    border-radius: 5px;
}

.dato .serie {
    width: 70%;
    margin-right: 10px;
}

.dato .valor {
    width: 25%;
}

.btn {
    margin-top: 15px;
}

#piechart {
    min-height: 400px;
}