@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --bg-color: #fff;
    --text-color: #333;
    --menu-bg: #f8f9fa;
    --menu-text: #fff;
    --menu-bg-hover: #1c4066;
    --card-bg: #fff;
    --breadcrumb-color: #6c757d;
    --card-shadow: rgba(0, 0, 0, 0.1);
    --button-gradient: linear-gradient(135deg, #1c4066, #1c4066);
    --button-hover-gradient: linear-gradient(135deg, #2980b9, #3498db);
    --breadcrumb-hover-color: #1c9be4;
    --table-header-bg: #f2f2f2;
    --input-bg: #fff;
    --input-border: #ccc;
    --input-text: #333;
    --btn-registrar-bg: #f0ad4e;
    --btn-registrar-hover: #ec971f;
    --btn-regresar-bg: #e74c3c;
    --btn-regresar-hover: #c0392b;
    --btn-crear-bg: #28a745;
    --btn-crear-hover: #218838;
    --btn-buscar-bg: #17a2b8;
    --btn-buscar-hover: #138496;
    --btn-eliminar-bg: #dc3545;
    --btn-eliminar-hover: #c82333;
    --btn-guardar-bg: #007bff;
    --btn-guardar-hover: #0056b3;
    --btn-importar-bg: #17a2b8;
    --btn-importar-hover: #258594;
}

.dark-mode {
    --bg-color: #222;
    --text-color: #f0f0f0;
    --menu-bg: #333;
    --menu-text: #f0f0f0;
    --menu-bg-hover: #444;
    --card-bg: #333;
    --breadcrumb-color: #bbb;
    --card-shadow: rgba(255, 255, 255, 0.1);
    --button-gradient: linear-gradient(135deg, #444, #444);
    --button-hover-gradient: linear-gradient(135deg, #34495e, #2c3e50);
    --breadcrumb-hover-color: #1c9be4;
    --table-header-bg: #444;
    --input-bg: #333;
    --input-border: #555;
    --input-text: #f0f0f0;
    --btn-registrar-bg: #d39e00;
    --btn-registrar-hover: #b58900;
    --btn-regresar-bg: #c0392b;
    --btn-regresar-hover: #a93226;
    --btn-crear-bg: #218838;
    --btn-crear-hover: #1e7e34;
    --btn-buscar-bg: #138496;
    --btn-buscar-hover: #117a8b;
    --btn-eliminar-bg: #bd2130;
    --btn-eliminar-hover: #a71d2a;
    --btn-guardar-bg: #0056b3;
    --btn-guardar-hover: #004085;
    --btn-importar-bg: #1d96a8;
    --btn-importar-hover: #208291;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    background: url('../Imagen/b.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

html::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.500);
    z-index: 1;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    position: relative;
    z-index: 2;
    background: var(--bg-color);
    border-radius: 15px;
    max-width: 98%;
    margin: 20px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

.header-logo {
    position: absolute;
    left: 25px;
}

.header-logo img {
    width: 210px;
    height: auto;
}

.title-and-logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center;
}

.title-and-logo h1 {
    margin: 0;
    font-family: 'Lobster', cursive;
    color: var(--text-color);
    font-size: 2.5rem;
    text-align: center;
}

.breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 1rem;
}

.breadcrumb-item a {
    color: var(--breadcrumb-color);
    text-decoration: none;
}

.breadcrumb-item a:hover {
    color: var(--breadcrumb-hover-color);
}

.breadcrumb-item.active {
    color: var(--breadcrumb-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    content: "/";
    color: var(--breadcrumb-color);
}

#theme-toggle {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions form {
    display: flex;
    gap: 6px;
    flex: 1;
    margin-right: 8px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -8px;
}

.action-buttons button {
    flex: 1;
}

.actions input[type="text"],
.actions input[type="date"],
.actions input[type="number"],
.actions input[type="email"],
.actions input[type="float"],
.actions select,
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="float"],
select {
    width: 100%;
    padding: 6px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    font-size: 0.9em;
    box-sizing: border-box;
    background-color: var(--input-bg);
    color: var(--input-text);
}

.actions button[type="submit"],
.btn-registrar,
.btn-regresar,
.btn-crear,
.btn-buscar,
.btn-eliminar,
.btn-guardar,
.btn-importar {
    padding: 6px 10px;
    font-size: 0.9em;
    color: var(--menu-text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    transition: background-color 0.3s;
}

.btn-registrar {
    background-color: var(--btn-registrar-bg);
}

.btn-registrar:hover {
    background-color: var(--btn-registrar-hover);
}

.btn-regresar {
    background-color: var(--btn-regresar-bg);
}

.btn-regresar:hover {
    background-color: var(--btn-regresar-hover);
}

.btn-crear {
    background-color: var(--btn-crear-bg);
}

.btn-crear:hover {
    background-color: var(--btn-crear-hover);
}

.btn-buscar {
    background-color: var(--btn-buscar-bg);
}

.btn-buscar:hover {
    background-color: var(--btn-buscar-hover);
}

.btn-eliminar {
    background-color: var(--btn-eliminar-bg);
}

.btn-eliminar:hover {
    background-color: var(--btn-eliminar-hover);
}

.btn-guardar {
    background-color: var(--btn-guardar-bg);
}

.btn-guardar:hover {
    background-color: var(--btn-guardar-hover);
}

.btn-importar {
    background-color: var(--btn-importar-bg);
}

.btn-importar:hover {
    background-color: var(--btn-importar-hover);
}

.btn-regresar i,
.btn-crear i,
.btn-buscar i,
.btn-eliminar i,
.btn-guardar i,
.btn-importar i {
    margin-right: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 0.98em;
}

table,
th,
td {
    color: var(--text-color);
    border: 1px solid var(--input-border);
    padding: 6px;
    text-align: center;
}

th {
    background-color: var(--table-header-bg);
    font-weight: bold;
    font-size: 0.98em;
}

td {
    background-color: var(--bg-color);
}

td.actions-column {
    width: 120px;
}

td.actions-column form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

td.actions-column10 {
    width: 105px;
}

td.actions-column10 form {
    display: flex;
    justify-content: center;
}

td.actions-columnD {
    width: 80px;
}

td.actions-columnD form {
    display: flex;
    justify-content: center;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    color: var(--text-color);
    font-weight: bold;
    display: block;
    margin-bottom: 3px;
}

.form-group button[type="submit"],
.form-group button[type="button"] {
    /* background-color: var(--btn-guardar-bg); */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    width: 100%;
}

.form-group button[type="submit"]:hover {
    background-color: var(--btn-guardar-hover);
}

input:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgb(16, 207, 134);
}

.btn-guardar,
.btn-eliminar {
    padding: 4px 8px;
    font-size: 0.8em;
}

.btn-guardar i,
.btn-eliminar i {
    margin-right: 3px;
}

input[type="date"] {
    padding: 4px;
    font-size: 0.8em;
    width: 100%;
    box-sizing: border-box;
}

.user-menu {
    position: absolute;
    right: 30px;
    top: 40px;
    display: flex;
    align-items: center;
}

.user-menu .avatar {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-left: 10px;
    border: 2px solid var(--text-color);
}

.user-menu .username {
    font-weight: bold;
    color: var(--text-color);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

.user-options {
    display: none;
    position: absolute;
    top: 50px;
    right: -50px;
    background-color: var(--bg-color);
    border: 1px solid var(--text-color);
    padding: 10px;
    border-radius: 8px;
    z-index: 1;
    width: 200px;
    box-shadow: 0 4px 8px var(--card-shadow);
}

.user-options a {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: space-evenly;
}

.user-options a:hover {
    background-color: var(--menu-bg-hover);
    color: var(--menu-text);
}

.user-options a i {
    width: 20px;
    margin-right: 10px;
    text-align: center;
    flex-shrink: 0;
}

td.actions-columnD input[type="date"] {
    width: 100px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(var(--calendar-icon-invert));
    margin-left: -10px;
}

.dark-mode input[type="date"]::-webkit-calendar-picker-indicator {
    --calendar-icon-invert: 1;
}