<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="../Static/Imagen/Iconos/Icono-UNL.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link href="../Static/styles/PaginasGestion.css" rel="stylesheet" type="text/css" media="all">

    <title>Gestión de usuarios</title>

</head>

<body>

    <div class="container">
        <div class="title-and-logo">
            <div class="header-logo">
                <img id="logo-img" src="../Static/Imagen/Iconos/Logo-UNL-mediano.png" alt="Logo">
            </div>
            <h1>Gestión de usuarios</h1>
            <div class="user-menu">
                <div class="username" onclick="toggleUserOptions()">{{ user.first_name }} {{ user.last_name }}
                    <div class="user-options" id="user-options">
                        <a href="{% url 'Perfil_Usuario' %}"><i class="fas fa-cog"></i> Configuración</a>
                        <a href="#" id="theme-toggle"><i class="fas fa-adjust"></i> Modo Oscuro</a>
                        <a href="#" onclick="confirmLogout(event)"><i class="fas fa-sign-out-alt"></i> Cerrar Sesión</a>
                    </div>
                </div>
                {% if user.foto %}
                <img class="avatar" src="{{ user.foto.url }}" alt="Avatar">
                {% else %}
                <img class="avatar" src="../Static/Imagen/Perfil-Predeterminado.png" alt="Avatar predeterminado">
                {% endif %}
            </div>
        </div>

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'Index' %}"><i class="fas fa-home"></i> Inicio</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Iniciar_Sesion' %}"><i class="fas fa-user-circle"></i></i>
                        Inicio de sesión</a></li>
                <li class="breadcrumb-item"><a href="{% url 'Pagina_Administrador' %}"><i class="fas fa-user"></i>
                        Página del administrador</a></li>
                <li class="breadcrumb-item active" aria-current="page"><i class="fas fa-cogs"></i> Gestión de
                    usuarios
                </li>
            </ol>
        </nav>

        <div class="actions">
            <a href="#" class="btn-regresar"><i class="fas fa-arrow-left"></i>Regresar</a>
            <form method="GET" style="flex: 1; margin-right: 5px;">
                <input type="text" name="search_query" placeholder="Buscar por correo electrónico o DNI"
                    value="{{ search_query }}">
                <select name="rol">
                    <option value="">Todos los roles</option>
                    <option value="Personal Administrativo"
                        {% if filter_rol == 'Personal Administrativo' %}selected{% endif %}>Personal Administrativo
                    </option>
                    <option value="Secretaria" {% if filter_rol == 'Secretaria' %}selected{% endif %}>Secretaria
                    </option>
                    <option value="Docente" {% if filter_rol == 'Docente' %}selected{% endif %}>Docente</option>
                </select>
                <select name="genero">
                    <option value="">Todos los géneros</option>
                    {% for genero in generos %}
                    <option value="{{ genero.id }}"
                        {% if filter_genero == genero.id|stringformat:"s" %}selected{% endif %}>
                        {{ genero.nombre_genero }}
                    </option>
                    {% endfor %}
                </select>
                <select name="tipo_dni">
                    <option value="">Todos los tipo de DNI</option>
                    {% for tipo_dni in tipos_dni %}
                    <option value="{{ tipo_dni.id }}"
                        {% if filter_tipo_DNI == tipo_DNI.id|stringformat:"s" %}selected{% endif %}>
                        {{ tipo_dni.nombre_tipo_dni }}
                    </option>
                    {% endfor %}
                </select>
                <button type="submit" class="btn-buscar"><i class="fas fa-search"></i>Buscar</button>
            </form>
            <a href="{% url 'Registrar_Usuario' %}" class="btn-crear"><i class="fas fa-plus"></i>Crear Usuario</a>
            <a href="#" class="btn-importar" id="importButton"><i class="fas fa-file-import"></i>Importar usuarios</a>
            <input type="file" id="fileInput" name="document" style="display: none;" accept=".csv">
        </div>

        <div class="form-group">
            <table>
                <thead>
                    <tr>
                        <th>Tipo de DNI</th>
                        <th>Número de DNI</th>
                        <th>Correo Electrónico</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Género</th>
                        <th>Teléfono</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Rol</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="user_id" value="{{ usuario.id }}">
                            <td>
                                <select name="tipo_dni">
                                    {% for tipo_dni in tipos_dni %}
                                    <option value="{{ tipo_dni.id }}"
                                        {% if usuario.tipo_dni_id == tipo_dni.id %}selected{% endif %}>
                                        {{ tipo_dni.nombre_tipo_dni }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="actions-column10"><input type="text" name="dni" value="{{ usuario.dni }}"
                                    class="validate-dni" maxlength="10" data-original="{{ usuario.dni }}"></td>
                            <td><input type="text" name="username" value="{{ usuario.username }}"></td>
                            <td class="actions-columnI"><input type="text" name="first_name"
                                    value="{{ usuario.first_name }}" class="validate-letters"></td>
                            <td class="actions-columnI"><input type="text" name="last_name"
                                    value="{{ usuario.last_name }}" class="validate-letters"></td>
                            <td>
                                <select name="genero">
                                    {% for genero in generos %}
                                    <option value="{{ genero.id }}"
                                        {% if usuario.genero_id == genero.id %}selected{% endif %}>
                                        {{ genero.nombre_genero }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="actions-column10"><input type="text" name="telefono"
                                    value="{{ usuario.telefono }}" class="validate-phone" maxlength="10"></td>
                            <td class="actions-columnD"><input type="date" name="fecha_nacimiento"
                                    value="{{ usuario.fecha_nacimiento|date:'Y-m-d' }}"></td>
                            <td>
                                <select name="rol">
                                    <option value="Personal Administrativo"
                                        {% if usuario.rol == 'Personal Administrativo' %}selected{% endif %}>Personal
                                        Administrativo</option>
                                    <option value="Secretaria" {% if usuario.rol == 'Secretaria' %}selected{% endif %}>
                                        Secretaria</option>
                                    <option value="Docente" {% if usuario.rol == 'Docente' %}selected{% endif %}>Docente
                                    </option>
                                </select>
                            </td>
                            <td class="actions-column">
                                <div class="action-buttons">
                                    <button type="button" class="btn-guardar" name="modify"
                                        onclick="confirmarModificacion('{{ user.id }}', '{{ user.username }}', this.form)">
                                        <i class="fas fa-edit"></i> Actualizar
                                    </button>
                                    <button type="button" class="btn-eliminar"
                                        onclick="confirmarEliminacion('{{ user.id }}', '{{ user.username }}')">
                                        <i class="fas fa-trash"></i> Eliminar
                                    </button>
                                </div>
                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../Static/scripts/TemaSeleccionado.js"></script>

    <script>
        function confirmarModificacion(userId, nombreUser, form) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: `¿Deseas modificar el usuario "${nombreUser}"?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, modificar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    const hiddenInput = document.createElement('input');
                    hiddenInput.type = 'hidden';
                    hiddenInput.name = 'modify';
                    hiddenInput.value = 'true';
                    form.appendChild(hiddenInput);
                    form.submit();
                }
            });
        }

        function confirmarEliminacion(userId, nombreUser) {
            Swal.fire({
                title: '¿Estás seguro?',
                text: `¿Deseas eliminar el usuario "${nombreUser}"?`,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, eliminar',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.innerHTML = `
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="user_id" value="${userId}">
                    <input type="hidden" name="delete" value="true">
            `;
                    document.body.appendChild(form);
                    form.submit();
                }
            });
        }

        document.querySelectorAll('.validate-letters').forEach(input => {
            input.addEventListener('input', function (e) {
                if (/[^a-zA-Z\s]/.test(this.value)) {
                    e.preventDefault();
                    this.value = this.value.replace(/[^a-zA-Z\s]/g, '');
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Este campo solo acepta letras y espacios.',
                    });
                }
            });
        });

        document.querySelectorAll('.validate-dni, .validate-phone').forEach(input => {
            input.addEventListener('input', function (e) {
                if (/[^0-9]/.test(this.value)) {
                    e.preventDefault();
                    this.value = this.value.replace(/[^0-9]/g, '');
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Este campo solo acepta números.',
                    });
                }
                if (this.value.length > 10) {
                    this.value = this.value.slice(0, 10);
                }
            });
        });

        document.querySelectorAll('.validate-email').forEach(input => {
            input.addEventListener('blur', function (e) {
                if (!/^\S+@\S+\.\S+$/.test(this.value)) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'Por favor, ingrese un correo electrónico válido.',
                    });
                }
            });
        });

        document.querySelectorAll('form').forEach(form => {
            form.addEventListener('submit', function (e) {
                let isValid = true;
                let dni = this.querySelector('input[name="dni"]').value;
                let telefono = this.querySelector('input[name="telefono"]').value;
                if (dni.length !== 10) {
                    isValid = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'El DNI debe tener 10 dígitos.',
                    });
                }
                if (telefono.length !== 10) {
                    isValid = false;
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'El teléfono debe tener 10 dígitos.',
                    });
                }
                if (!isValid) {
                    e.preventDefault();
                } else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Guardado',
                        text: 'Usuario modificado con éxito.',
                    });
                }
            });
        });

        const importButton = document.getElementById('importButton');
        const fileInput = document.getElementById('fileInput');

        importButton.addEventListener('click', function (e) {
            e.preventDefault();
            fileInput.click();
        });

        fileInput.addEventListener('change', function (e) {
            const file = e.target.files[0];
            if (file) {
                const formData = new FormData();
                formData.append('document', file);

                fetch('{% url "Importar_Usuario" %}', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            Swal.fire({
                                title: 'Éxito',
                                text: data.message,
                                icon: 'success'
                            }).then(() => {
                                location.reload();
                            });
                        } else {
                            let errorMessage = data.message;
                            if (data.errors && data.errors.length > 0) {
                                errorMessage += "\n\nDetalles de los errores:\n" + data.errors.join("\n");
                            }
                            Swal.fire({
                                title: 'Error',
                                text: errorMessage,
                                icon: 'error'
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        Swal.fire({
                            title: 'Error',
                            text: 'Hubo un problema al importar las materias',
                            icon: 'error'
                        });
                    });
            }
        });

        function confirmLogout(event) {
            event.preventDefault();
            Swal.fire({
                title: '¿Estás seguro?',
                text: "¿Deseas cerrar la sesión?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sí, cerrar sesión',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "{% url 'Cerrar_Sesion' %}";
                }
            });
        }

        function toggleUserOptions() {
            var options = document.getElementById("user-options");
            options.style.display = options.style.display === "block" ? "none" : "block";
        }
    </script>
</body>

</html>