<!DOCTYPE html>

<html>

{% load static %}

<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../Static/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>

<body id="top">
  <div class="bgded overlay" style="background-image:url('../Static/Imagen/c.png');">
    <div id="pageintro" class="hoc clear">
      <div class="flexslider basicslider">
        <ul class="slides">
          <li>
            <article>
              <h3 class="heading">Prediccion</h3>
              <p>La prediccion se realiza por medio de un modelo matematico</p>
              <p class="font-x1 uppercase bold">El modelo es la base del programa</p>
              <!-- <footer>
                <ul class="nospace inline pushright">
                  <li><a class="btn" href="#">Iniciar sesion0</a></li>
                  <li><a class="btn inverse" href="#">Registrarse0</a></li>
                </ul>
              </footer> -->
            </article>
          </li>
          <li>
            <article>
              <h3 class="heading">Graficas</h3>
              <p>Cuenta con varios tipos de graficas</p>
              <p class="font-x1 uppercase bold">Graficas de barras y de pastel</p>
              <!-- <footer>
                <ul class="nospace inline pushright">
                  <li><a class="btn" href="#">is</a></li>
                  <li><a class="btn inverse" href="#">r</a></li>
                </ul>
              </footer> -->
            </article>
          </li>
          <li>
            <article>
              <h3 class="heading">Privacidad</h3>
              <p>p3</p>
              <p class="font-x1 uppercase bold">e3</p>
              <!-- <footer>
                  <ul class="nospace inline pushright">
                  <li><a class="btn" href="#">is</a></li>
                  <li><a class="btn inverse" href="#">r</a></li>
                </ul> 
              </footer> -->
            </article>
          </li>
        </ul>
      </div>
    </div>
    <div class="wrapper row0">
      <div id="topbar" class="hoc clear">
        <div class="fl_left">
          <ul>
            <li><i class="fa fa-phone"></i> +593 98 063 3868</li>
            <li><i class="fa fa-envelope-o"></i> Walter@xd.com</li>
          </ul>
        </div>
        <div class="fl_right">
          <ul>
            <li><a href="{% url 'index' %}"><i class="fa fa-lg fa-home"></i></a></li>
            <li><a href="{% url 'iniciar_sesion' %}">Iniciar secion</a></li>
            <li><a href="{% url 'registrar_usuario' %}">Registrarse</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Top Background Image Wrapper -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <div id="logo" class="fl_left">
        <h1><a href="{% url 'index' %}">PIS</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="{% url 'index' %}">Inicio</a></li>
          <li><a class="drop" href="#">Informacion</a>
            <ul>
              <!-- <li><a href="{% url 'gallery' %}">Galeria</a></li> -->

              <li><a href="{% url 'Informacion1' %}">Informacion del modelo</a></li>
              <li><a href="{% url 'Informacion2' %}">Informacion de las graficas</a></li>
              <li><a href="{% url 'Informacion3' %}">Informacion de la seguridad</a></li>
              <li><a href="{% url 'Informacion4' %}">Informacion del proyecto</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Informes</a>
            <ul>
              <li><a href="{% url 'InformeMateria' %}">Informe Materia</a></li>
              <li><a href="{% url 'InformeCiclo' %}">Informe Ciclo</a></li>
              <li><a href="{% url 'InformeCarrera' %}">Informe Carrera</a></li>
              <!-- <li><a href="#">Level 1</a></li>
            <li><a class="drop" href="#">Level 2</a>
              <ul>
                <li><a href="#">Level a</a></li>
                <li><a href="#">Level b</a></li>
                <li><a href="#">Level c</a></li>
              </ul>
            </li>
            <li><a href="#">Level 3</a></li> -->
            </ul>
          </li>
          <li><a href="{% url 'Prediccion' %}">Realizar prediccion</a></li>
        </ul>
      </nav>
    </header>
  </div>
  <div class="wrapper row3">
    <main class="hoc container clear">
      <!-- main body -->
      <div class="two_third first">
        <h6 class="heading">Walter xd</h6>
        <p class="heading font-x3">Funciones del sistema</p>
        <p class="btmspace-50">Informacion del proyecto</p>
        <ul class="nospace group">
          <li class="one_third first">
            <article><a href="#"><i class="icon btmspace-30 fa fa-language"></i></a>
              <h6 class="heading font-x1">Prediccion por medio de un modelo matematico</h6>
              <p>descripcion 1</p>
            </article>
          </li>
          <li class="one_third">
            <article><a href="#"><i class="icon btmspace-30 fa fa-leaf"></i></a>
              <h6 class="heading font-x1">Representacio por medio de graficas</h6>
              <p>descripcion 2</p>
            </article>
          </li>
          <li class="one_third">
            <article><a href="#"><i class="icon btmspace-30 fa fa-ioxhost"></i></a>
              <h6 class="heading font-x1">Seguridad y enciptacion de de datos de usuarios</h6>
              <p>descripcion 3</p>
            </article>
          </li>
        </ul>
      </div>
      <div class="one_third"><a href="#"><img src="../Static/Imagen/W.png" alt=""></a></div>
      <!-- / main body -->
      <div class="clear"></div>
    </main>
  </div>
  <div class="wrapper bgded overlay" style="background-image:url('../Static/Imagen/demo/backgrounds/02.png');">
    <article class="hoc cta clear">
      <div class="three_quarter first">
        <h6 class="header nospace">Mas informacion</h6>
        <p class="nospace">Queso</p>
      </div>
      <footer class="one_quarter"><a class="btn" href="#">Si? &raquo;</a></footer>
    </article>
  </div>
  <div class="wrapper row3">
    <section class="hoc container clear">
      <div class="sectiontitle center">
        <h6 class="heading" style="font-size: 3em;">Desarrolladores del proyecto</h6>
        <br>
        <p style="font-size: 1.5em;">Ingeniero encargado: Walter Yaguana</p>
      </div>
      <div class="group team element btmspace-80">
        <article class="one_fifth"><img src="../Static/Imagen/demo/320x320.png" alt="">
          <div class="txtwrap">
            <h6 class="heading" >Victor</h6>
            <em>Prosaa</em>
            <footer><a href="#">Visitar perfil</a></footer>
          </div>
        </article>
        <article class="one_fifth"><img src="../Static/Imagen/emilio.png" alt="">
          <div class="txtwrap">
            <h6 class="heading">Emilio</h6>
            <em>Apostador</em>
            <footer><a href="#">Visitar perfil</a></footer>
          </div>
        </article>
        <article class="one_fifth"><img src="../Static/Imagen/demo/320x320.png" alt="">
          <div class="txtwrap">
            <h6 class="heading">Santiago</h6>
            <em>Prosaa</em>
            <footer><a href="#">Visitar perfil</a></footer>
          </div>
        </article>
        <article class="one_fifth first"><img src="../Static/Imagen/demo/320x320.png" alt="">
          <div class="txtwrap">
            <h6 class="heading">Elias</h6>
            <em>Secretaria</em>
            <footer><a href="#">Visitar perfil</a></footer>
          </div>
        </article>
        <article class="one_fifth"><img src="../Static/Imagen/walter.png" alt="">
          <div class="txtwrap">
            <h6 class="heading">Walter</h6>
            <em>Prosaa</em>
            <footer><a href="#">Visitar perfil</a></footer>
          </div>
        </article>
      </div>
      <footer class="center"><a class="btn" href="https://github.com/VictorNivelo/PIS-CUARTO_CICLO" target="_blank">Ver código en GitHub</a></footer>
    </section>
  </div>

  <div class="wrapper row4">
    <footer id="footer" class="hoc clear">
      <h3 class="heading">genero</h3>
      <ul class="nospace inline pushright uppercase">
        <li><a href="{% url 'index' %}"><i class="fa fa-lg fa-home"></i></a></li>
        <li><a href="#">Acerca de nosotros</a></li>
        <li><a href="#">Contactanos</a></li>
        <li><a href="#">Privacidad</a></li>
        <li><a href="#">callmebaby</a></li>
        <li><a href="#">Otros temas</a></li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
      <div id="copyright">
        <p>Copyright &copy; 2024 - All Rights Reserved - <a href="#">Domain Name</a></p>
      </div>
    </footer>
  </div>
  <a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
  <!-- JAVASCRIPTS -->
  <script src="../Static/scripts/jquery.min.js"></script>
  <script src="../Static/scripts/jquery.backtotop.js"></script>
  <script src="../Static/scripts/jquery.mobilemenu.js"></script>
  <script src="../Static/scripts/jquery.flexslider-min.js"></script>
</body>

</html>