<!DOCTYPE html>
<html lang="es">

{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Deserción Estudiantil</title>
    <link rel="stylesheet" href="../Static/styles/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="../Static/Imagen/Iconos/LogoUnl.png">
</head>

<body>

    <header class="Header">
        <div>
            <a href="a" class="Logo">Logo</a>
            <input type="checkbox" id="Menu">
            <label for="Menu">
                <img src="" class="Menu-Icono" alt="">
            </label>
            <nav class="navbar">
                <u1>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicio</a></li>
                    <li><a href="#">Producto</a></li>
                    <li><a href="#">Contacto</a></li>
                </u1>
            </nav>
        </div>

        <div class="header-content Contenedor">
            <div>
                <h1>Bienvenido al Sistema de Predicción de Deserción Estudiantil</h1>
                <span>Proyecto PIS cuarto ciclo</span>
                <p>
                    Esta es la página principal donde puedes ver las predicciones de las tasas de deserción estudiantil.
                </p>
                <a href="a" class="btn-1">Informacion</a>
            </div>
        </div>

        <div class="header-Dir">
            <div class="Dir">

                <h5>Mas informacion</h5>
                <p>

            </div>
        </div>

    </header>

    <h1>
        <h1>

</body>

</html>