<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predicción de Deserción Estudiantil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        
    </style>
</head>
<body>
    <div class="container">
        <h1>Predicción de Deserción Estudiantil</h1>
        <form id="prediccionForm">
            <div class="form-group">
                <label for="facultadSelect">Facultad:</label>
                <select class="form-control" id="facultadSelect" name="facultad">
                    <option value="">Seleccionar Facultad</option>
                    {% for facultad in facultades %}
                        <option value="{{ facultad.id }}">{{ facultad.nombre_facultad }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="carreraSelect">Carrera:</label>
                <select class="form-control" id="carreraSelect" name="carrera">
                    <option value="">Seleccionar Carrera</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cicloSelect">Ciclo:</label>
                <select class="form-control" id="cicloSelect" name="ciclo">
                    <option value="">Seleccionar Ciclo</option>
                </select>
            </div>
            <div class="form-group">
                <label for="materiaSelect">Materia:</label>
                <select class="form-control" id="materiaSelect" name="materia">
                    <option value="">Seleccionar Materia</option>
                </select>
            </div>
            <button type="button" class="btn btn-primary" onclick="realizarPrediccion()">Predecir Deserción</button>
        </form>
        <hr>
        <div id="chartContainer">
            <!-- Aquí se mostrará el gráfico de predicción -->
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $(document).ready(function() {
            var facultadId = $('#facultadSelect').val();
            if (facultadId) {
                $.ajax({
                    url: '{% url "obtener_carreras" %}',
                    data: {'facultad_id': facultadId},
                    dataType: 'json',
                    success: function(data) {
                        $('#carreraSelect').html('<option value="">Seleccionar Carrera</option>');
                        $.each(data.carreras, function(key, value) {
                            $('#carreraSelect').append('<option value="' + key + '">' + value + '</option>');
                        });
                    }
                });
            }

            $('#facultadSelect').change(function() {
                var facultadId = $(this).val();
                if (facultadId) {
                    $.ajax({
                        url: '{% url "obtener_carreras" %}',
                        data: {'facultad_id': facultadId},
                        dataType: 'json',
                        success: function(data) {
                            $('#carreraSelect').html('<option value="">Seleccionar Carrera</option>');
                            $.each(data.carreras, function(key, value) {
                                $('#carreraSelect').append('<option value="' + key + '">' + value + '</option>');
                            });
                        }
                    });
                } else {
                    $('#carreraSelect').html('<option value="">Seleccionar Carrera</option>');
                }
            });

            $('#carreraSelect').change(function() {
                var carreraId = $(this).val();
                if (carreraId) {
                    $.ajax({
                        url: '{% url "obtener_ciclos" %}',
                        data: {'carrera_id': carreraId},
                        dataType: 'json',
                        success: function(data) {
                            $('#cicloSelect').html('<option value="">Seleccionar Ciclo</option>');
                            $.each(data.ciclos, function(key, value) {
                                $('#cicloSelect').append('<option value="' + key + '">' + value + '</option>');
                            });
                        }
                    });
                } else {
                    $('#cicloSelect').html('<option value="">Seleccionar Ciclo</option>');
                }
            });

            $('#cicloSelect').change(function() {
                var cicloId = $(this).val();
                if (cicloId) {
                    $.ajax({
                        url: '{% url "obtener_materias" %}',
                        data: {'ciclo_id': cicloId},
                        dataType: 'json',
                        success: function(data) {
                            $('#materiaSelect').html('<option value="">Seleccionar Materia</option>');
                            $.each(data.materias, function(key, value) {
                                $('#materiaSelect').append('<option value="' + key + '">' + value + '</option>');
                            });
                        }
                    });
                } else {
                    $('#materiaSelect').html('<option value="">Seleccionar Materia</option>');
                }
            });
        });

        function realizarPrediccion() {
            var materiaId = $('#materiaSelect').val();
            if (materiaId) {
                $.ajax({
                    url: '{% url "realizar_prediccion" %}',
                    data: {'materia_id': materiaId},
                    dataType: 'json',
                    success: function(data) {
                        console.log(data.prediccion);  
                        dibujarGrafico(data.prediccion);
                    }
                });
            } else {
                alert('Seleccione una materia para predecir la deserción.');
            }
        }

        function dibujarGrafico(data) {
            google.charts.load('current', {'packages':['corechart']});
            google.charts.setOnLoadCallback(function() {
                var chartData = google.visualization.arrayToDataTable([
                    ['Estado', 'Cantidad'],
                    ['Cursando', data.cursando],
                    ['Aprobado', data.aprobado],
                    ['Reprobado', data.reprobado],
                    ['Desertor', data.desertores]
                ]);

                var options = {
                    title: 'Predicción de Estado de Estudiantes en ' + data.nombre_materia,
                    is3D: true,
                };

                var chart = new google.visualization.PieChart(document.getElementById('chartContainer'));
                chart.draw(chartData, options);
            });
        }
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</body>
</html>
