
* {
    box-sizing: border-box;
    background-color: #eee;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #eee;
}

#titulo {
    font-weight: bold;
    font-size: medium;
    text-align: center;
}

.caja {
    width: 60%;
    margin: auto;
}

select {
    display: inline-block;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
}

input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #88d498;
    margin-bottom: 10px;
    width: 100%;
    padding: 5px;
    outline: none;
}

.left {
    max-width: 600px;
    border: 1px solid #000;
    padding: 15px;
    float: left;
}

.center {
    max-width: 600px;
    border: 1px solid #000;
    padding: 15px;
    float: center;
}

.right {
    max-width: 600px;
    border: 1px solid #000;
    margin-left: 15px;
    float: left;
}

.dato .serie {
    width: 70%;
    margin-right: 15px;
}

.dato .valor {
    width: 20%;
}

.agregar {
    float: right;
    height: 40px;
    width: 120px;
    margin: 10px;
    background-color: #18936f;
    border: none;
    color: #fff;
    border-radius: 10%;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
}

.crear-grafico {
    float: center;
    height: 40px;
    width: 120px;
    margin: 10px;
    background-color: #18936f;
    border: none;
    color: #fff;
    border-radius: 10%;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
}

.regresar{
    float: left;
    height: 40px;
    width: 120px;
    margin: 10px;
    background-color: #18936f;
    border: none;
    color: #fff;
    border-radius: 10%;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
}